
{% extends "layout.twig" %}
{% block titleP %}
    Blog en PHP | Manage Posts
{% endblock %}
{% block title %}
    Manage Posts
{% endblock %}
{% block content %}


   <h2>New Posts</h2>
    {% if errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <ul>
                {% for input, messages in errors %}
                    {% for message in messages %}
                        <li>
                            <strong>Upps!! {{ input }} :</strong>  {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {%  if result %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> your post save!!!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {%  endif %}
   <a class="btn btn-secondary mb-2" href="{{ 'admin/posts' | url }}">Back</a>

   <form  method="post">
       <div class="form-floating mb-3">
           <input type="name" name="title" class="form-control" id="floatingInput" placeholder="name@example.com">
           <label for="floatingInput">Title</label>
       </div>

       <div class="form-floating">
           <textarea class="form-control" name="content" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
           <label for="floatingTextarea2">Content</label>
       </div>
       <div class="mt-2">
           <button type="submit" class="btn btn-primary mb-3">Confirm Post</button>
       </div>
   </form>



   {%  endblock %}

