{% extends "layout.twig" %}
{% block titleP %}
    Blog en PHP
{% endblock %}
{% block title %}
    UN CODIGO EN PHP | BLOG
{% endblock %}
{% block content %}
    {% for row in blogPosts  %}
<div class="list-group p-2">
        <div class="card" style="width: 39rem;">
            {% if row.image %}
            <img src="images/gaming-keyboards-200-01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ row.title }}</h5>
                <p class="card-text">{{ row.content }}</p>
                <p>Jan 1, 2020 by <a href="" class="btn">Alex</a></p>
            </div>
        </div>
</div>
    {% endfor %}
{%  endblock %}
{% block footer  %}
    <footer>
        This is a footer <br>
        <a class="btn btn-secondary" href="{{ 'admin' | url }}">Admin</a>
    </footer>
{% endblock %}
{% block cards %}
<div class="col-md-4  list-group">
    <div class="row p-2 ">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2 ">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


